@page "/topics/{id}"
@rendermode InteractiveServer

@using BlazorAppCrud.Data;
@using BlazorAppCrud.Models.Entities
@using BlazorAppCrud.Models.ViewModels
@using BlazorAppCrud.Services;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http.Extensions
@inherits OwningComponentBase<TopicsService>
@inject NavigationManager NavigationManager
@inject QuestionsService QuestionsService
@attribute [Authorize(Roles = "User,Admin")]

<PageTitle>Topic @title</PageTitle>
<h1>Topic @title</h1>


<div class="card mb-3">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>Details</h3>
            @* <button class="btn btn-primary" @onclick="() => editing = true">Edit</button> *@
        </div>
    </div>
    <div class="card-body">
        <p>Description: @description</p>
            
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h3>Questions</h3>
            <div class="d-flex">
                @if (loading)
                {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                @if (message != null)
                {
                    <span class="text-success">@message</span>
                }
                @* <button class="btn btn-outline-success" @onclick="() => loading = true">Generate with AI</button> *@
                <button class="btn btn-outline-success" @onclick="() => GenerateQuestionsAi()">Generate with AI</button>
                <button class="btn btn-success" @onclick=@(() => NavigationManager.NavigateTo($"/topics/{id}/tests"))>Run Test</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (questionsList != null)
        {
            <table class="table">
                <tr>
                    <th>Question</th>
                    
                    
                </tr>
                @foreach (var item in questionsList)
                {
                    <tr>
                        <td>@item.Question</td>
                       
                        
                    </tr>
                }
            </table>
        }
    </div>
</div>


@code {
    [Parameter] public string id { get; set; }
    
    public string title;
    public string description;
    public bool loading = false;
    public string message;
    
    IList<QuestionsClass> questionsList;
    
    protected override void OnInitialized()
    {
        TopicClass topic = Service.GetTopicById(id);
        title = topic.Title;
        description = topic.Description;

        questionsList = QuestionsService.GetQuestionsByTopicId(id);
    }
    
    protected async Task GenerateQuestionsAi()
    {
        loading = true; // Set loading to true
        StateHasChanged(); // Force UI update
        await Task.Delay(1); // Wait for UI to update

        Console.WriteLine("GenerateQuestionsAI");
        try
        {
            await QuestionsService.GenerateQuestions(id);
            message = "Questions generated successfully!";
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
        finally
        {
            loading = false; // Set loading to false
            questionsList = QuestionsService.GetQuestionsByTopicId(id);
            StateHasChanged(); // Force UI update
            await Task.Delay(1000); // Wait for UI to update
            
            message = null;
        }
    }
}